<!-- section start -->
<!-- ================ -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row masonry-grid-fitrows grid-space-10">
				<div class="row">
					<loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
					<div class="col-md-3 col-sm-4 masonry-grid-item" ng-repeat="c in currentCategory.SubCategories">
						<div class="listing-item pl-10 pr-10 mb-20">
							<div class="overlay-container">
								<a class="overlay-link" ng-href="catalog/{{c.InteropID}}"></a>
								<div class="image-box style-2 light-gray-bg text-center">
									<div class="overlay-container">
										<figure ng-show="c.Image.URL">
											<img class="img-responsive" ng-src="{{c.Image.URL}}"/>
										</figure>
										<div class="empty" ng-show="!c.Image.URL">
											<span class="fa empty"><i class="fa fa-camera"></i></span>
										</div>
									</div>
									<!--
									<div class="body">
										<h3 ng-bind-html="c.Name" />
									</div>
									-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
