<!-- .subfooter start -->
<!-- ================ -->
<div class="subfooter" ng-show="isActive('catalog')">
	<div class="container">
		<div class="subfooter-inner">
			<div class="row">
				<div class="col-md-12 mb-10" style="display: inline-block">
				    <p class="text-center">
                        Powered by
                    </p>
				    <p class="text-center">
                        <img alt="Accent logo" src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/sbc/accent-logo.png" style="display: inline-block; "/>
                    </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				    <p class="text-center">
                        {{'Copyright' | xlat}} © {{year}} Accent. {{'All Rights Reserved' | xlat}}.
                    </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- .subfooter end -->