<!-- *** priceScheduleView *** -->

<section>

    <div class="panel-body" ng-show="ps.PriceBreaks.length > 5">
        <button id="451qa_btn_showhide_psched" class="btn btn-default btn-block" type="button"  ng-init="showPS = false" ng-click="showPS = !showPS">
            {{'Price Schedule' | r | xlat}}
            <i class="fa fa-caret-up" ng-show="showPS"></i>
            <i class="fa fa-caret-down" ng-show="!showPS"></i>
        </button>
    </div>

    <table class="uk-table-small">
        <thead>
            <tr>
                <th class="uk-text-center">{{'Quantity' | r | xlat}}</th>
                <th class="uk-text-center">{{'Price' | r | xlat}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pb in ps.PriceBreaks">
              <td>{{pb.Quantity * (ps.RestrictedQuantity ? p.QuantityMultiplier : 1)}}</td>
              <td>{{pb.Price * (ps.RestrictedQuantity ? pb.Quantity : 1)| culturecurrency}}</td>
            </tr>
        </tbody>
    </table>

</section>
