<!-- *** approvalInput *** -->

<div>
    <loadingindicator ng-show="loadingIndicator" title="Please wait while we process your request."></loadingindicator>
    <textarea class="form-control" ng-model="order.ApprovalComment" ng-attr-placeholder="{{('Approval' | r) + ' ' +  ('Comments' | r) | xlat}}"></textarea><br />
    <div class="uk-float-right">
        <button class="uk-button" ng-click="editOrder()" ng-if="user.Permissions.contains('EditApprovalOrder')">{{'Edit' | r | xlat}}</button>
        <button class="uk-button" ng-click="approveOrder()" ng-disabled="approveClicked">{{'Approve' | r | xlat}}</button>
        <button class="uk-button" ng-click="declineOrder()">{{'Decline' | r | xlat}}</button>
    </div>
    <div class="view-error-message" ng-show="error">{{error}}</div>
</div>
<hr/>
