<section>
	<!-- main-container start -->
	<!-- ==================== -->
	<div class="uk-flex uk-flex-center uk-card uk-card-body uk-card-default">
		<div id="login_box">
			<div class="animated bounceIn" id="login_form">
				<!-- logo -->
				<div class="" id="logo" style="height: 64px; margin-top: -6px;">
					<a href="index.html"><img alt="Accent logo" id="logo_img" src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/accent/logo.png" style="height: 100%;"></a>
				</div>
				<h3 class="uk-card-title">Logon</h3>
				<form class="uk-form-stacked" id="login_form" name="login_form">
					<p class="alert alert-info" id="451qa_msg_login"></p>
					<div>
						<label class="uk-form-label">{{'Username' | r}}</label>
						<div class="uk-form-controls">
							<input autofocus="" class="uk-input" placeholder="{{'Username' | r}}" type="text">
						</div>
					</div>
					<div>
						<label>{{'Password' | r}}</label> <input class="uk-input" placeholder="{{'Password' | r}}" type="password">
						<div class="uk-form-controls">
							<input class="uk-button uk-button-primary" id="451_btn_login" type="submit" value="{{buttonText}}">
						</div>
					</div>
					<div>
						<p class="alert alert-info">If you would like to be reminded of your {{'Username' | r}} or have the option to reset your {{'Password' | r}}, please provide your email address and your log on information will be emailed to you immediately.</p>Need help logging on?
						<div class="view-form-icon">
							<div>
								<label>{{'Email' | r}}</label> <input class="form-control" placeholder="{{'Email' | r}}" type="email"> <i class="fa fa-envelope"></i>
							</div>
						</div>Return to logon
					</div>
					<div>
						<div class="view-form-icon">
							<div>
								<label>Current {{'Password' | r}}</label> <input class="form-control" name="current_password" placeholder="Current {{'Password' | r}}" type="password">
							</div>
							<div>
								<label>New {{'Password' | r}}</label> <input class="form-control" name="new_password" placeholder="New {{'Password' | r}}" type="password">
							</div>
							<div>
								<label>Confirm {{'Password' | r}}</label> <input class="form-control" name="confirm_password" placeholder="Confirm {{'Password' | r}}" type="password">
							</div>
						</div>
					</div>
					<div>
						<div class="view-form-icon">
							<div>
								<label>New {{'Password' | r}}</label> <input class="form-control" name="new_password" placeholder="New {{'Password' | r}}" type="password">
							</div>
							<div>
								<label>Confirm {{'Password' | r}}</label> <input class="form-control" name="confirm_password" placeholder="Confirm {{'Password' | r}}" type="password">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
